@model BugTracker.Models.Invite

@{ Layout = "_LoginLayout";
                ViewData["Title"] = "Register"; }

      
                        <h3 class="text-black">
                            <span class="clearfix title">
                                <span class="number text-black">Welcome</span><br />
                                <span class="text-black">@Model.InviteeFirstName @Model.InviteeLastname!</span> <br>
                            </span>
                        </h3>
                        <h5 class="text-black"><span>@Model.Company.Name Company</span></h5>
                        <br />
                        <p class="text-black">
                            @Model.Invitor.FullName has invited you to collaborate on the @Model.Project.Name project.
                            <br /><br /> Click the "JOIN" button below to register with the company and begin entering tickets.
                        </p>
                        <a class="btn btn-success btn-outline-dark btn-lg btn-block text-white" asp-area="Identity" asp-page="/Account/RegisterByInvite" asp-route-id="@Model.Id"><i class="fa fa-sign-in"></i> <span>JOIN</span></a>
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
