@model BugTracker.Models.ViewModels.DashboardViewModel
@using BugTracker.Services.Interfaces
@using BugTracker.Models
@using Microsoft.AspNetCore.Identity;

@inject IBTImageService BTImageService
@inject IBTRolesService _roleService
@inject UserManager<BTUser> _userManager
@{
    ViewData["Title"] = "Dashboard";
}

<div class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1 class="m-0">
                    Hello  @Model.CurrentUser.FullName
                </h1>
            </div><!-- /.col -->
            <div class="col-sm-6">
            </div><!-- /.col -->
        </div><!-- /.row -->
    </div><!-- /.container-fluid -->
</div>
<!-- /.content-header -->
<!-- Main content -->
<section class="content">
    <div class="container-fluid">
        <!-- Info boxes -->
        <div class="row">
            <div class="col-12 col-sm-6 col-md-3">
                <div class="info-box">
                    <span class="info-box-icon bg-info elevation-1"><i class="fa fa-folder-open" aria-hidden="true"></i></span>

                    <div class="info-box-content">
                        <span class="info-box-text">Active Projects</span>
                        <span class="info-box-number">
                            @Model.Projects.Count
                        </span>
                    </div>
                    <!-- /.info-box-content -->
                </div>
                <!-- /.info-box -->
            </div>
            <!-- /.col -->
            <div class="col-12 col-sm-6 col-md-3">
                <div class="info-box mb-3">
                    <span class="info-box-icon bg-danger elevation-1"><i class="fa fa-ticket" aria-hidden="true"></i></span>

                    <div class="info-box-content">
                        <span class="info-box-text">Total Tickets</span>
                        <span class="info-box-number">@Model.Tickets.Count</span>
                    </div>
                    <!-- /.info-box-content -->
                </div>
                <!-- /.info-box -->
            </div>
            <!-- /.col -->
            <!-- fix for small devices only -->
            <div class="clearfix hidden-md-up"></div>

            <div class="col-12 col-sm-6 col-md-3">
                <div class="info-box mb-3">
                    <span class="info-box-icon bg-success elevation-1"><i class="fa fa-ticket" aria-hidden="true"></i></span>

                    <div class="info-box-content">
                        <span class="info-box-text">Unassigned Tickets</span>
                        <span class="info-box-number">@Model.UnassignedTickets</span>
                    </div>
                    <!-- /.info-box-content -->
                </div>
                <!-- /.info-box -->
            </div>
            <!-- /.col -->
            <div class="col-12 col-sm-6 col-md-3">
                <div class="info-box mb-3">
                    <span class="info-box-icon bg-warning elevation-1"><i class="fas fa-users"></i></span>

                    <div class="info-box-content">
                        <span class="info-box-text">Members</span>
                        <span class="info-box-number">@Model.Members.Count</span>
                    </div>
                    <!-- /.info-box-content -->
                </div>
                <!-- /.info-box -->
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
        <div class="row">
            <div class="col-md-3">
                <div class="card">
                    <div class="card-header bg-success">
                        <h3 class="card-title">Company Data</h3>
                    </div>
                    <div class="card-body" style="min-height: 250px; height: 250px; max-height: 250px; max-width: 100%;">
                        <div class="info info-box-content">New Tickets<p class=float-right>@Model.Tickets.Where(t => t.TicketStatusId == 6).Count()</p> </div>
                        <hr />
                        <div class="info info-box-content">Total Users <p class=float-right>@Model.Members.Count</p> </div>
                        <hr />
                        <div class="info info-box-content">Tickets in Development<p class=float-right>@Model.DevelopmentTickets</p></div>
                        <hr />
                        <div class="info info-box-content">Total Developers<p class=float-right>@Model.Developers</p></div>
                    </div>
                    <div class="card-footer"></div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card">
                    <div class="card-header bg-success">
                        <h3 class="card-title">Company Data</h3>
                    </div>
                    <div class="card-body" style="min-height: 250px; height: 250px; max-height: 250px; max-width: 100%;">
                        <div class="info info-box-content">Members <p class=float-right>@Model.Members.Count</p></div>
                        <hr />
                        <div class="info info-box-content">Projects <p class=float-right>@Model.Projects.Count</p></div>
                        <hr />
                        <div class="info info-box-content">All Tickets <p class=float-right>@Model.Tickets.Count</p></div>
                        <hr />
                        <div class="info info-box-content">Resolved Tickets<p class=float-right>@Model.Tickets.Where(t => t.TicketStatusId == 2).Count()</p></div>
                    </div>
                    <div class="card-footer"></div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card">
                    <div class="card-header bg-success">
                        <h3 class="card-title">Tickets Per Project</h3>
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-8">
                                <div class="chart-responsive">
                                    <canvas id="donutChart" style="min-height: 250px; height: 250px; max-height: 250px; max-width: 100%;">
                                    </canvas>
                                </div>
                                <!-- ./chart-responsive -->
                            </div>
                            <!-- /.col -->
                        </div>
                        <!-- /.row -->
                    </div>
                    <!-- /.card-body -->
                    <div class="card-footer"></div>
                </div>
            </div>
            <div class="col-md-3">
                <!-- STACKED BAR CHART -->
                <div class="card card-success">
                    <div class="card-header">
                        <h3 class="card-title">Tickets By Type</h3>
                    </div>
                    <div class="card-body">
                        <div class="chart">
                            <canvas id="barChart" style="min-height: 250px; height: 250px; max-height: 250px; max-width: 100%;"></canvas>
                        </div>
                    </div>
                    <!-- /.card-body -->
                    <div class="card-footer"></div>
                </div>
                <!-- /.card -->
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">Members List</h3>
                        <!-- /.card-header -->
                        <div class="card-body p-0">
                            <div class="row">
                                <ul class="users-list clearfix">
                                    @foreach (var member in Model.Members)
                                    {
                                        <li>
                                            <img class="img-lg" src="@BTImageService.DecodeImage(member.AvatarFileData, member.AvatarContentType)" alt="User Image" style="inline-size:fit-content()">
                                            <h3>@member.FullName</h3>
                                            <span class="users-list-date">@((await _userManager.GetRolesAsync(member)).FirstOrDefault())</span>
                                        </li>
                                    }
                                </ul>
                                <!-- /.users-list -->
                            </div>
                        </div>
                        <!-- /.card-body -->
                        <!-- /.card-footer -->
                    </div>
                    <!--/.card -->
                </div>
                <!-- /.col -->
            </div>
            <!-- /.row -->
            <!-- Main row -->
            <div class="row">
                <div class="col-8">
                    <!-- TABLE: All Tickets -->
                    <div class="card">
                        <div class="card-header bg-success">
                            <h3 class="card-title">Role Tickets</h3>
                        </div>
                        <!-- /.card-header -->
                        <div class="card-body">
                            @if (User.IsInRole("Admin"))
                            {

                                <table id="dashTable" class="table table-bordered table-striped">
                                    <thead>
                                        <tr>
                                            <th>Title</th>
                                            <th>Description</th>
                                            <th>Created</th>
                                            <th>Project</th>
                                            <th>Ticket Priority</th>
                                            <th>Ticket Status</th>
                                            <th>Actions</th>

                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var item in Model.Tickets)
                                        {
                                            <tr>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.Title)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.Description)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.Created)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.Project.Name)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.TicketPriority.Name)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.TicketStatus.Name)
                                                </td>
                                                <td class="btn-group btn-success text-white btn-outline-dark">
                                                    <a class="text-dark font-weight-bold" asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                                                    <a class="text-dark font-weight-bold" asp-action="Details" asp-route-id="@item.Id">Details</a> |
                                                </td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            }
                            @if (User.IsInRole("ProjectManager"))
                            {
                                <table id="pmTable" class="table table-bordered table-striped">
                                    <thead>
                                        <tr>
                                            <th>Title</th>
                                            <th>Description</th>
                                            <th>Created</th>
                                            <th>Project</th>
                                            <th>Ticket Priority</th>
                                            <th>Ticket Status</th>
                                            <th>Actions</th>

                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var item in Model.PMTickets)
                                        {
                                            <tr>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.Title)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.Description)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.Created)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.Project.Name)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.TicketPriority.Name)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.TicketStatus.Name)
                                                </td>
                                                <td class="btn-group btn-success text-white btn-outline-dark">
                                                    <a class="text-dark font-weight-bold" asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                                                    <a class="text-dark font-weight-bold" asp-action="Details" asp-route-id="@item.Id">Details</a> |
                                                </td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            }
                            @if (User.IsInRole("Developer"))
                            {
                                <table id="devTable" class="table table-bordered table-striped">
                                    <thead>
                                        <tr>
                                            <th>Title</th>
                                            <th>Description</th>
                                            <th>Created</th>
                                            <th>Project</th>
                                            <th>Ticket Priority</th>
                                            <th>Ticket Status</th>
                                            <th>Actions</th>

                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var item in Model.DevTickets)
                                        {
                                            <tr>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.Title)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.Description)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.Created)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.Project.Name)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.TicketPriority.Name)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.TicketStatus.Name)
                                                </td>
                                                <td class="btn-group btn-success text-white btn-outline-dark">
                                                    <a class="text-dark font-weight-bold" asp-action="Details" asp-route-id="@item.Id">Ticket Details</a> |
                                                </td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>

                            }
                            @if (User.IsInRole("Submitter"))
                            {
                                <table id="subTable" class="table table-bordered table-striped">
                                    <thead>
                                        <tr>
                                            <th>Title</th>
                                            <th>Description</th>
                                            <th>Created</th>
                                            <th>Project</th>
                                            <th>Ticket Priority</th>
                                            <th>Ticket Status</th>
                                            <th>Actions</th>

                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var item in Model.SubmittedTickets)
                                        {
                                            <tr>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.Title)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.Description)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.Created)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.Project.Name)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.TicketPriority.Name)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.TicketStatus.Name)
                                                </td>
                                                <td class="btn-group btn-success text-white btn-outline-dark">
                                                    <a class="text-dark font-weight-bold" asp-action="Details" asp-route-id="@item.Id">Ticket Details</a>
                                                </td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            }
                        </div>
                        <!-- /.card-body -->
                    </div>
                    <!-- /.card -->
                </div>
                <!-- /.col -->

                <div class="col-4 float-right">
                    <!-- Info Boxes Style 2 -->
                    <div class="info-box mb-xl-5 bg-warning">
                        <span class="info-box-icon"><i class="fas fa-tag"></i></span>

                        <div class="info-box-content mb-xl-5">
                            <span class="info-box-text">Tickets Created By You</span>
                            <span class="info-box-number">@Model.SubmittedTickets.Count</span>
                        </div>
                        <!-- /.info-box-content -->
                    </div>
                    <!-- /.info-box -->
                    <div class="info-box mb-xl-5 bg-success">
                        <span class="info-box-icon"><i class="far fa-heart"></i></span>

                        <div class="info-box-content">
                            <span class="info-box-text">Total Company Tickets</span>
                            <span class="info-box-number">@Model.Tickets.Count</span>
                        </div>
                        <!-- /.info-box-content -->
                    </div>
                    <!-- /.info-box -->
                    <div class="info-box mb-xl-5 bg-danger">
                        <span class="info-box-icon"><i class="fas fa-cloud-download-alt"></i></span>

                        <div class="info-box-content">
                            <span class="info-box-text">Urgent Tickets</span>
                            <span class="info-box-number">@Model.UrgentPriority</span>
                        </div>
                        <!-- /.info-box-content -->
                    </div>
                    <!-- /.info-box -->
                    <div class="info-box mb-xl-5 bg-info">
                        <span class="info-box-icon"><i class="far fa-comment"></i></span>

                        <div class="info-box-content">
                            <span class="info-box-text">New Tickets</span>
                            <span class="info-box-number">@Model.Tickets.Where(t => t.TicketStatusId == 6).Count()</span>
                        </div>
                        <!-- /.info-box-content -->
                    </div>
                    <!-- /.info-box -->

                    <div class="card">
                        <div class="card-header">
                            <h3 class="card-title">Tickets By Status</h3>
                        </div>
                        <!-- /.card-header -->
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-8">
                                    <div class="chart-responsive">
                                        <canvas id="donutChart" style="min-height: 250px; height: 250px; max-height: 250px; max-width: 100%;"></canvas>
                                    </div>
                                    <!-- ./chart-responsive -->
                                </div>
                                <!-- /.col -->
                                <div class="col-md-4">
                                    <ul class="chart-legend clearfix">
                                        <li><i class="far fa-circle text-danger"></i> Chrome</li>
                                        <li><i class="far fa-circle text-success"></i> IE</li>
                                        <li><i class="far fa-circle text-warning"></i> FireFox</li>
                                        <li><i class="far fa-circle text-info"></i> Safari</li>
                                    </ul>
                                </div>
                                <!-- /.col -->
                            </div>
                            <!-- /.row -->
                        </div>
                        <!-- /.card-body -->
                        <div class="card-footer bg-light p-0">
                            <ul class="nav nav-pills flex-column">
                                <li class="nav-item">
                                    <a href="#" class="nav-link">
                                        Urgent
                                        <span class="float-right text-danger">
                                            <i class="fas fa-arrow-down text-sm"></i>
                                            12%
                                        </span>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="#" class="nav-link">
                                        High
                                        <span class="float-right text-success">
                                            <i class="fas fa-arrow-up text-sm"></i> 4%
                                        </span>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="#" class="nav-link">
                                        Medium
                                        <span class="float-right text-warning">
                                            <i class="fas fa-arrow-left text-sm"></i> 0%
                                        </span>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="#" class="nav-link">
                                        Low
                                        <span class="float-right text-warning">
                                            <i class="fas fa-arrow-left text-sm"></i> 0%
                                        </span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <!-- /.footer -->
                    </div>
                    <!-- /.card -->
                </div>
                <!-- /.col -->
            </div>
            <!-- /.row -->
        </div>
        <!--/. container-fluid -->
    </div>
</section>
<!-- /.content -->

@section Scripts{

    <script>
        var ctx = document.getElementById('barChart').getContext('2d');
        var myChart = new Chart(ctx, {
            type: 'bar',
            data: {
                labels: ["Tickets by Type"],
                datasets: [{
                    data: [@Model.NewDev],
                    label: "New development",
                    borderColor: "rgb(62,149,205)",
                    backgroundColor: "rgb(62,149,205,0.1)",
                    borderWidth: 2
                }, {
                    data: [@Model.UIType],
                    label: "UI",
                    borderColor: "rgb(60,186,159)",
                    backgroundColor: "rgb(60,186,159,0.1)",
                    borderWidth: 2
                }, {
                    data: [@Model.Runtime],
                    label: "Runtime",
                    borderColor: "rgb(255,165,0)",
                    backgroundColor: "rgb(255,165,0,0.1)",
                    borderWidth: 2
                }, {
                    data: [@Model.Maintenance],
                    label: "Maintenance",
                    borderColor: "rgb(196,88,80)",
                    backgroundColor: "rgb(240, 230, 140)",
                    borderWidth: 2
                }
                ]
            },
        });
    </script>
    <!-- Page specific script -->

    <script>
        $(function () {
            $('#dashTable').DataTable();
        });
        $(function () {
            $('#pmTable').DataTable();
        });
        $(function () {
            $('#devTable').DataTable();
        });
        $(function () {
            $('#subTable').DataTable();
        });

    </script>

    <script type="text/javascript">
            $.ajax({
                type: "POST",
                url: "/Home/DonutMethod",
                data: '{@Model.LowPriority, @Model.MediumPriority, @Model.HighPriority, @Model.UrgentPriority}',
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (result) {
                    //Donut
                    var donutChartCanvas = $('#donutChart').get(0).getContext('2d')
                    var donutData = result
                    var donutOptions = {
                        maintainAspectRatio: false,
                        responsive: true,
                    }
                    //Create pie or douhnut chart
                    // You can switch between pie and douhnut using the method below.
                    new Chart(donutChartCanvas, {
                        type: 'doughnut',
                        data: donutData,
                        options: donutOptions
                    })
                },
                failure: function (result) {
                    alert(result.d);
                },
                error: function (result) {
                    alert(result.d);
                }
            });

    </script>

    <script type="text/javascript">
            $.ajax({
                type: "POST",
                url: "/Home/DonutMethod",
                data: '{@Model.DevelopmentTickets, @Model.UnassignedTickets, @Model.ResolvedTickets}',
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (result) {
                    //Donut
                    var donutChartCanvas = $('#donutChart').get(0).getContext('2d')
                    var donutData = result
                    var donutOptions = {
                        maintainAspectRatio: false,
                        responsive: true,
                    }
                    //Create pie or douhnut chart
                    // You can switch between pie and douhnut using the method below.
                    new Chart(pieChartCanvas, {
                        type: 'pie',
                        data: pieData,
                        options: pieOptions
                    })
                },
                failure: function (result) {
                    alert(result.d);
                },
                error: function (result) {
                    alert(result.d);
                }
            });

    </script>
}
