@model BugTracker.Models.Company
@using BugTracker.Services.Interfaces
@inject IBTImageService BTImageService
@{
    ViewData["Title"] = "Details";
}
<h2 class="bg-success">Company Info</h2>
<hr />


<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-3">

                <!-- Profile Image -->
                <div class="card card-primary card-outline">
                    <div class="card-body box-profile">
                        <div class="text-center">
                            <img class="profile-user-img img-fluid img-circle" src="@BTImageService.DecodeImage(Model.ImageFileData, Model.ImageContentType)" alt="Company Image" style="inline-size:fit-content()">

                        </div>

                        <h3 class="profile-username text-center">
                            @Html.DisplayFor(model => model.Name)
                        </h3>

                        <p class="text-muted text-center">
                            @Html.DisplayFor(model => model.Description)
                        </p>

                        <ul class="list-group list-group-unbordered mb-3">
                            <li class="list-group-item">
                                <b>Total Projects</b> @Html.DisplayFor(model => model.Projects.Count)
                            </li>
                            <li class="list-group-item">
                                <b>Total Tickets</b> @Html.DisplayFor(model => model.Tickets.Count)
                            </li>
                            <li class="list-group-item">
                                <b>Members</b> @Html.DisplayFor(model => model.Members.Count)
                            </li>
                        </ul>
                    </div>
                    <!-- /.card-body -->
                </div>
                <!-- /.card -->
                <!-- About Me Box -->
            </div>
            <!-- /.col -->
            <div class="col-md-9">
                <div class="card">
                    <div class="card-header p-2 bg-green">
                        <ul class="nav nav-pills">
                            <li class="nav-item"><a class="nav-link active" href="#activity" data-toggle="tab">Projects</a></li>
                            <li class="nav-item"><a class="nav-link" href="#timeline" data-toggle="tab">Tickets</a></li>
                        </ul>
                    </div><!-- /.card-header -->
                    <div class="card-body">
                        <div class="tab-content">
                            <div class="active tab-pane" id="activity">
                                <table id="example2" class="table table-bordered table-striped">
                                    <thead>
                                        <tr>
                                            <th>
                                                Name
                                            </th>
                                            <th>
                                                Description
                                            </th>
                                            <th>
                                                StartDate
                                            </th>
                                            <th>
                                                EndDate
                                            </th>
                                            <th>
                                                Archived
                                            </th>
                                            <th>
                                                Company
                                            </th>
                                            <th>
                                                ProjectPriority
                                            </th>
                                            <th>Actions</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var item in Model.Projects)
                                        {
                                            <tr>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.Name)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.Description)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.StartDate)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.EndDate)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.Archived)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.Company.Name)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.ProjectPriority.Name)
                                                </td>
                                                <td>
                                                    <a class="btn btn-success text-white" asp-action="Details" asp-route-id="@item.Id">Details</a>
                                                </td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>

                            </div>
                            <!-- /.tab-pane -->
                            <div class="tab-pane" id="timeline">
                                <!-- The timeline -->
                                <div class="">
                                    <table id="example3" class="table table-bordered table-striped">
                                        <thead>
                                            <tr>
                                                <th>
                                                    Title
                                                </th>
                                                <th>
                                                    Description
                                                </th>
                                                <th>
                                                    Created
                                                </th>
                                                <th>
                                                    Updated
                                                </th>
                                                <th>
                                                    TicketType
                                                </th>
                                                <th>
                                                    TicketPriority
                                                </th>
                                                <th>Actions</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @foreach (var item in Model.Tickets)
                                            {
                                                <tr>
                                                    <td>
                                                        @Html.DisplayFor(modelItem => item.Title)
                                                    </td>
                                                    <td>
                                                        @Html.DisplayFor(modelItem => item.Description)
                                                    </td>
                                                    <td>
                                                        @Html.DisplayFor(modelItem => item.Created)
                                                    </td>
                                                    <td>
                                                        @Html.DisplayFor(modelItem => item.Updated)
                                                    </td>
                                                    <td>
                                                        @Html.DisplayFor(modelItem => item.TicketPriority.Name)
                                                    </td>
                                                    <td class="btn-group btn-success text-white btn-outline-dark">
                                                        <a class="text-dark font-weight-bold" asp-action="Details" asp-route-id="@item.Id">Details</a>
                                                    </td>
                                                </tr>
                                            }
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <!-- /.tab-pane -->
                    </div>
                    <!-- /.tab-content -->
                </div><!-- /.card-body -->
            </div>
            <!-- /.card -->
        </div>
        <!-- /.col -->
    </div>
    <div class="row">
        <div class="card-body p-0">
            <table class="table table-striped projects">
                <thead>
                    <tr>
                        <th style="width: 20%">
                            Project Name
                        </th>
                        <th style="width: 30%">
                            Team Members
                        </th>
                </thead>
                <tbody>
                    <tr>
                        <td>
                        </td>
                        <td>
                            @*<ul class="list-inline">
                                @foreach(Project member in Model.Members){
                                <li class="list-inline-item">
                                    <img class="table-avatar" src="@BTImageService.DecodeImage(membe, member.AvatarContentType)" alt="User Image">
                                </li>
                                }*@
                            <!--</ul>-->
                        </td>
                    <tr>
                </tbody>
            </table>
        </div>
    </div>
</section>
@section Scripts{
    <script>
        $(function () {
            $('#example2').DataTable();
        });
    </script>
    <script>
        $(function () {
            $('#example3').DataTable();
        });
    </script>
}