@using BugTracker.Services.Interfaces
@{
}
@model IEnumerable<BugTracker.Models.ViewModels.ManageUserRolesViewModel>
@inject IBTImageService BTImageService 

<div class="row">
    @foreach (var member in Model)
    {
<div class="card col-8" style="margin:2px">
    <div class="card-body user-block">
        <h2 class="m-t-0 h3"><b>Change Role For @member.BTUser.FullName</b></h2><img class="img-circle img-bordered-sm" style="resize:inline" src="@BTImageService.DecodeImage(member.BTUser.AvatarFileData, member.BTUser.AvatarContentType)" />
        <p class="text-muted font-13 m-b-30">
            Use the dropdown to select the role that this user should be assigned. Once roles are selected, click "Assign Roles" to submit the form.
        </p>
        <hr />
        <form asp-controller="UserRoles" asp-action="ManageUserRoles" method="post" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="@member.BTUser.Id">
            <div class="col-12">
                <div class="form-group">
                    <label asp-for="@member.Roles" class="control-label">Roles for @member.BTUser.FullName</label>
                    <select asp-for="@member.SelectedRoles" class="form-control text-white" asp-items="@member.Roles" multiple="multiple"></select>
                </div>
            </div>
            <hr />
            <div class="col-12">
                <div class="form-group pull-right">
                    <input type="submit" value="Assign Roles" class="btn btn-success text-white" />
                    <a class="btn btn-success text-white" asp-controller="Home" asp-action="Dashboard">Cancel</a>
                </div>
            </div>

        </form>
    </div>
</div>}
</div>
